body {
    background-color:yellow;

}


.container {
    background-color: green;
    max-width: fit-content;
    display: block;
    margin: 25px;
    padding:20px;
    border-radius: 10%;
}

.RouteWindow {
    display: inline-block;
    background-color:yellow;
    max-width: fit-content;
    max-height: fit-content;
    margin: 20px;
    padding:15px;
    border: 10px, black;
    border-radius: 25%;
    
}

.DayView {
    display: inline-block;
    max-width: fit-content;
    max-height: fit-content;
    background-color:yellow;
    margin: 20px;
    padding:15px;
    border: 10px, black;
    border-radius: 25%;
    

}

.TodaysPickups {
    display: inline;
    background-color: green;
    text-decoration: yellow, 20px;
}

.box1 {
height: 50%;
}
.box2 {
height: 50%;
    
}